In [1]:
import pandas as pd

In [2]:
words_df = pd.read_csv('odm.txt', names=['word'], sep='\r')
words_df.head()

                                                word
0             Abacja, Abacją, Abację, Abacji, Abacjo
1  abaka, abace, abak, abakach, abakami, abaką, a...
2  abakan, abakanach, abakanami, abakanem, abakan...
3     Abakan, Abakanem, Abakanie, Abakanowi, Abakanu
4  abakanka, abakance, abakanek, abakankach, abak...

In [3]:
exploded_df = words_df['word'].str.split(',').explode()
exploded_df.dropna(inplace=True)

In [4]:
exploded_df.head(), exploded_df.shape

(0     Abacja
 0     Abacją
 0     Abację
 0     Abacji
 0     Abacjo
 Name: word, dtype: object,
 (4674861,))

In [5]:
def filtr_data(text):
    special_chars = '!@#$%^&*()_-+=,<.>?/|;:'
    if any(chr.isdigit() for chr in text) or any(chr in special_chars for chr in text):
        return 'nan'
    
    strange = 'ąćęłńóśźż'.upper()
    ascii_replcacement = 'acelnoszz'.upper()
    translator = str.maketrans(strange, ascii_replcacement)
    
    return text.replace(' ', '').upper().translate(translator)

In [6]:
filtred_df = exploded_df.apply(lambda text: filtr_data(text=text))
filtred_df.dropna(inplace=True)
filtred_df.head()

0    ABACJA
0    ABACJA
0    ABACJE
0    ABACJI
0    ABACJO
Name: word, dtype: object

In [7]:
filtred_df.drop_duplicates(inplace=True)

In [8]:
filtred_df.shape

(4132614,)

In [9]:
words_df = filtred_df[filtred_df.str.len() > 3]
words_df.shape

(4129524,)

In [10]:
words_df.to_csv('polish_words', index=False)